gunicorn
pyTelegramBotAPI
Flask
requests
httpx
google-api-python-client
google-play-scraper
protobuf
pycryptodome
psutil
PyJWT
urllib3
protobuf-decoder
pytz
aiohttp
cfonts
fastapi
uvicorn
pillow
python-multipart
unidecode
